.border {
    border: 1px solid var(--border-clr);
}

.flash-network .row {
    background-color: var(--white-clr);
}

.flash-network .row .content,
.flash-network .row .content-1 {
    border: 1px solid var(--border-clr);
    border-radius: 0 0 .4em .4em;
    width: 58%;
    margin-inline: auto;
}