* {
    padding: 0;
    margin: 0;
}

:root {
    --anchor-color: #F0F3F5;
    --anchor-hover: #D9E2E8;
    --logo-clr: #F85B12;
    --heading-clr: #191E3B;
    --white-clr: #ffffff;
    --black-clr: #000000;
    --border-clr: #ececec;
    --transparent: transparent;
}

.pro-base,
.pro-base * {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin-block: 1.5em;
    background-color: var(--white-clr);
    display: flex;
    align-items: center;
    padding-inline: 1em;
}

.row {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-inline: auto;
}

.header .row * {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header .row,
.header .row .menu-icons,
.header .row .menu-icons .menu-form {
    justify-content: space-between;
}

.logo {
    width: 20%;
}

.hamburger {
    width: 20%;
}

.logo-svg {
    width: 80%;
}

.menu-icons {
    width: 80%;
}

.header .row a {
    text-decoration-color: transparent;
    color: var(--black-clr);
}

.hamburger {
    background-color: var(--white-clr);
    border: 1px solid var(--transparent);
    border-radius: .4em;
}

.hamburger:hover {
    background-color: var(--anchor-color);
    border: 1px solid var(--border-clr);
    border-radius: .4em;
}